In [1]:
from googleapiclient.discovery import build
import pymongo
import psycopg2
import pandas as pd
import streamlit as st

In [2]:
#api_key = 'AIzaSyDqGtKMPORVgTGOmeoXFfUJquNflcSPzPk'

def API_connect():
    api_ID = 'AIzaSyDqGtKMPORVgTGOmeoXFfUJquNflcSPzPk'
    api_service_name = 'youtube'
    api_version = 'v3'

    youtube = build(api_service_name,api_version,developerKey=api_ID)

    return youtube
youtube = API_connect()

In [3]:
# Get Channels Information
def get_channel_info(channel_id):
      request = youtube.channels().list(
                  part = "snippet,ContentDetails,statistics",
                  id = channel_id

      )
      response = request.execute()

      for i in  response['items']:
            data = dict(channel_name = i['snippet']['title'],
            channel_id = i['id'],
            subscribers = i['statistics']['subscriberCount'],
            total_videos = i['statistics']['videoCount'],
            total_view_count = i['statistics']['viewCount'],
            channel_description = i['snippet']['description'],
            playlist_ID = i['contentDetails']['relatedPlaylists']['uploads'] 
                  )
      return data

In [4]:
channel_detail = get_channel_info('UC052oKNJ0XdS6gQWwhxOiEQ')
channel_detail

{'channel_name': '2K Tamil culture',
 'channel_id': 'UC052oKNJ0XdS6gQWwhxOiEQ',
 'subscribers': '2370',
 'total_videos': '148',
 'total_view_count': '529709',
 'channel_description': 'Tamil culture in 2k & Tamil pasanga gaming experience & gaming tricks # redemption#rank up tricks # hiding place .....',
 'playlist_ID': 'UU052oKNJ0XdS6gQWwhxOiEQ'}

In [5]:
channel_detail

{'channel_name': '2K Tamil culture',
 'channel_id': 'UC052oKNJ0XdS6gQWwhxOiEQ',
 'subscribers': '2370',
 'total_videos': '148',
 'total_view_count': '529709',
 'channel_description': 'Tamil culture in 2k & Tamil pasanga gaming experience & gaming tricks # redemption#rank up tricks # hiding place .....',
 'playlist_ID': 'UU052oKNJ0XdS6gQWwhxOiEQ'}

In [6]:
# 'playlist_ID': 'UUvyZS6W6zMJCZBVzF-Ei6sw'

# get videos id

In [7]:
def get_Video_IDs(channel_id):

  video_IDs = []
  response = youtube.channels().list(id = channel_id,
                                    part = 'contentDetails').execute()
  playlist_ID = response['items'][0]['contentDetails']['relatedPlaylists']['uploads']

  next_page_token = None

  while True:

      response_1 = youtube.playlistItems().list(
                                              part = 'snippet',
                                              playlistId = playlist_ID,
                                              maxResults = 50,
                                              pageToken = next_page_token).execute()
      for i in range(len(response_1['items'])):
        video_IDs.append(response_1['items'][i]['snippet']['resourceId']['videoId'])
      next_page_token = response_1.get('nextPageToken')

      if next_page_token is None:
        break
  return video_IDs

In [8]:
Video_IDs = get_Video_IDs('UC052oKNJ0XdS6gQWwhxOiEQ')
Video_IDs

['g7utJaSGtlE',
 'sPxgmYlvPXY',
 '0beMAXZ-cvA',
 'xAVvH7T9haI',
 'DEZPRGtWdds',
 'K5dvjwvbvj8',
 'yxegXJBm0rc',
 '2gEMcWvqe0Q',
 'ds1wTxcENoQ',
 'ZG6vfuk0J50',
 'zc4prv38QOU',
 'Okmj8FRDK0c',
 'S7qRDOROU4E',
 'qHiHeV-fxEk',
 'KMlnWfPz3m0',
 'eNSpft375-k',
 'sOzrw8Vf9Yo',
 'j5g_v4wO4eI',
 'GfQegN_qfg0',
 'K7pEkW78i30',
 'T_tezEyVras',
 '8xA3Pm4unak',
 'M4-uCSiZYQE',
 'KzrXQSHeuMs',
 '_-HKBoEGgU0',
 'Mi1S4srGLYk',
 '9fklYrMINU0',
 'RD6HsFUwc7U',
 '4LMUrBXIvo0',
 'x0lvJuYkQfU',
 'ns_HgQe6UBE',
 '9FEhdL-7BnE',
 'iqeHpbDUKGI',
 'hd2Sc_HfCBU',
 '6M-n_qk-3CM',
 'znOrlHmid2I',
 '-mGQkhT8nEs',
 'Y2RtLXc2Kuw',
 'tyciS0Zx-jE',
 'EwMkcGVawGE',
 '_iwXVtvN91M',
 'WnOj435-9nA',
 '2WJFU3S7hu8',
 'lQU2iE2YZnk',
 'mgrC0uWDkZ8',
 '9Wzb5f4ecjU',
 'hMc0stgN9m8',
 'QAgHFyfC_SM',
 'TahR7LUtA1s',
 'sYfOLxIO-EE',
 '-FfC3zhE00w',
 'NjbmAEgGTzU',
 '1gNcMHO63iM',
 '8AZEF2fLqTU',
 'yEik6IMPnYY',
 'GTjxL9F4lws',
 'pgaROxhrglg',
 'CG0FZbZGMqc',
 '_hoa4Ion2GA',
 'tqK39jYTL80',
 'afpxMi45p_E',
 'vDsV800TXQU',
 'O9H6ept3RN0',
 'ECy56jU6lqc',
 'EwSqdnuejZw',
 'YY5bv4XkM8o',
 'cQrjb8iBoFc',
 '0s-tk3FNaYs',
 '4KRATRFJlJY',
 'XgP6WWc-ebI',
 'ioGTRU_Vqng',
 'HMGWyYhLTuw',
 '-5t5fwo7BPE',
 'SnGuDl2kwbA',
 'hQ2A3JYVKxo',
 'swDrglB3GDw',
 '9IDrKMvuAsg',
 'UsXtxx7aAMY',
 'rcIk-sVVf8s',
 '-F-LYh9NTtg',
 '_QkXn1xwDAU',
 'm09kGObkSjA',
 'RbIUHmK0ws8',
 'JyuMjlFbXCc',
 '4iIsz7mgfRM',
 'Bg545TZ8Dd0',
 'qUukt4mDFf0',
 'nejMgt_pARA',
 'NZ7z6bq9VYo',
 'utF5L5qi_L0',
 'Fuv5ElWsoGA',
 '7ulIFYR5DBg',
 'J8PNPA_shgk',
 'WyKy0EZJ_u8',
 'lbq9t5CHsXo',
 'iRf74GI9baA',
 'j9mto8bXwb0',
 'THQupLj4bGA',
 '2o0F9FRY26E',
 'GWX-rjeHdME',
 'Lb-PP-dtvT0',
 'zuKRbYMQmzM',
 'N7d1sQWAf7I',
 'CkDAZ-Os0_0',
 'zyYI9aTeOtU',
 '01YNMZEjFhk',
 '705GfYA8z2M',
 'jdoGzK8m-h0',
 '9s52_peUiIg',
 'NUPIQXUAWxE',
 'Tazd6jaTwL0',
 '9BY-tOPiBcE',
 'u8rPOT320fY',
 'AZc0_TII_EI',
 '5bixXmbf5DU',
 'Nn49_HMwius',
 '6b9nCp4ZTGo',
 'wNNUUvH7nAw',
 'Ad8hMN8Tclo',
 'WjC1Y7cbTe0',
 'ZWqbQc1IO4I',
 'O0L9ijD6QSQ',
 'E14hSGiSZ5o',
 'm6TxTpszG14',
 'gfvZcrpc7r0',
 'fPFXa32pCrE',
 'lGs9CjreyTc',
 'uat_x01UIrU',
 'yaj6vNkeZus',
 '2VZSppEfpyI',
 'Wnx4Gl5N27w',
 'oFM6EjEB7HE',
 'PH5IfHP3EIE',
 'n2CI09ostow',
 'VyQK6fbr0AM',
 'Kk5ghCu87iA',
 'idFY3nWkeVc',
 'yYIu6RIUQ4Q',
 'mL9VTuItzQE',
 'gqP0XySPSZM',
 'CJ9b_YcjMFc',
 'h-Ay6v0gshA',
 'YO34MH6icM8',
 '9gXhhDhGY6E',
 '8ayA3ezko4k',
 'tdgf3v66o3U',
 'vLTZ4Db4fY4',
 'E9JZHTQy3MA',
 '52zTKbkXy-Y']

In [9]:
Video_IDs[10:1:20]

[]

In [10]:
#print(Video_IDs)
len(Video_IDs)

149

# get videos details

In [11]:
# Get video Information
def get_video_info(Video_IDs):

    Video_data = []
    for video_id in Video_IDs:
        request = youtube.videos().list(
            part = 'snippet,contentDetails,statistics',
            id = video_id

        )
        response = request.execute()
        for item in response['items']:
            data = dict(channel_name = item['snippet']['channelTitle'],
                        channel_id = item['snippet']['channelId'],
                        video_id = item['id'],
                        Title = item['snippet']['title'],
                        Tags =item['snippet'].get('tags'),
                        Thumbnail = item['snippet']['thumbnails']['default']['url'],
                        Description = item['snippet'].get('description'),
                        Published_date = item['snippet']['publishedAt'],
                        Duration = item['contentDetails']['duration'],
                        Views = item['statistics'].get('viewCount'),
                        Likes = item['statistics'].get('likeCount'),
                        Comments = item['statistics'].get('commentCount'),
                        Favorite_count = item['statistics']['favoriteCount'],
                        Definition = item['contentDetails']['definition'],
                        Caption_status = item['contentDetails']['caption'],)
        Video_data.append(data)
    return Video_data

In [12]:
Video_Details = get_video_info(Video_IDs)

In [13]:
len(Video_Details)

149

In [14]:
Video_Details[34]

{'channel_name': '2K Tamil culture',
 'channel_id': 'UC052oKNJ0XdS6gQWwhxOiEQ',
 'video_id': '6M-n_qk-3CM',
 'Title': 'V.Mathur Erudhu Kattu Live...17-01-2022',
 'Tags': None,
 'Thumbnail': 'https://i.ytimg.com/vi/6M-n_qk-3CM/default_live.jpg',
 'Description': '',
 'Published_date': '2022-01-17T04:49:25Z',
 'Duration': 'P0D',
 'Views': '0',
 'Likes': '2',
 'Comments': '0',
 'Favorite_count': '0',
 'Definition': 'sd',
 'Caption_status': 'false'}

In [15]:
Video_Details[100]

{'channel_name': '2K Tamil culture',
 'channel_id': 'UC052oKNJ0XdS6gQWwhxOiEQ',
 'video_id': 'Lb-PP-dtvT0',
 'Title': 'Vandarathangal super bullet in EB colony(20-02-2021)',
 'Tags': None,
 'Thumbnail': 'https://i.ytimg.com/vi/Lb-PP-dtvT0/default.jpg',
 'Description': '',
 'Published_date': '2021-02-20T09:11:27Z',
 'Duration': 'PT9S',
 'Views': '333',
 'Likes': '12',
 'Comments': '0',
 'Favorite_count': '0',
 'Definition': 'sd',
 'Caption_status': 'false'}

# Get comment information

In [16]:
# to get comment information
def Get_comment_info(video_ids):
    Comment_Data = []
    try:
        for video_id in video_ids:
            request = youtube.commentThreads().list(
                part = 'snippet',
                videoId= video_id,
                maxResults = 50
            )
            response=request.execute()
            
            for item in response['items']:
                data = dict(comment_Id = item['snippet']['topLevelComment']['id'],
                            Video_Id = item['snippet']['topLevelComment']['snippet']['videoId'],
                            Comment_text = item['snippet']['topLevelComment']['snippet']['textDisplay'],
                            Comment_author = item['snippet']['topLevelComment']['snippet']['authorDisplayName'],
                            Comment_published_date = item['snippet']['topLevelComment']['snippet']['publishedAt']
                            )
                Comment_Data.append(data)
    except:
        pass
    return Comment_Data

In [17]:
Comment_Details = Get_comment_info(Video_IDs)

In [18]:
len(Comment_Details)

7

In [19]:
Comment_Details

[{'comment_Id': 'Ugy_pccT4ofM5Vc3HI94AaABAg',
  'Video_Id': 'sOzrw8Vf9Yo',
  'Comment_text': 'Mass',
  'Comment_author': '@ganeshnayakgana4098',
  'Comment_published_date': '2022-01-24T05:08:35Z'},
 {'comment_Id': 'UgwCtitkWj4iaIxieq14AaABAg',
  'Video_Id': 'j5g_v4wO4eI',
  'Comment_text': '🖤',
  'Comment_author': '@unknown-pp5hc',
  'Comment_published_date': '2022-01-24T05:02:32Z'},
 {'comment_Id': 'UgxyGIw1xuEkg09pB5p4AaABAg',
  'Video_Id': '9fklYrMINU0',
  'Comment_text': 'Hi bro',
  'Comment_author': '@lovelykarthick3326',
  'Comment_published_date': '2022-01-18T04:48:28Z'},
 {'comment_Id': 'Ugxhutv9T_F7922KwkN4AaABAg',
  'Video_Id': 'x0lvJuYkQfU',
  'Comment_text': '😋😘💓🌼💗',
  'Comment_author': '@K.SrinivasanK.Srinivasan-nc7po',
  'Comment_published_date': '2023-06-04T11:34:50Z'},
 {'comment_Id': 'UgxRqkHYiPpdzoSEzJh4AaABAg',
  'Video_Id': 'ns_HgQe6UBE',
  'Comment_text': 'NTR Anna Super',
  'Comment_author': '@sannantrsannantr7585',
  'Comment_published_date': '2023-03-17T15:39:53Z'},
 {'comment_Id': 'Ugxc0y5QqT873JNviLx4AaABAg',
  'Video_Id': '9FEhdL-7BnE',
  'Comment_text': 'Super running',
  'Comment_author': '@karuppusamy2899',
  'Comment_published_date': '2022-04-27T05:05:34Z'},
 {'comment_Id': 'UgwdKOT6Hsmgzs5IFKB4AaABAg',
  'Video_Id': 'iqeHpbDUKGI',
  'Comment_text': 'Reading bro',
  'Comment_author': '@kalaiarasan4506',
  'Comment_published_date': '2022-01-17T06:09:35Z'}]

get playlist info

In [20]:
# get playlist info

def get_playlist_details(channel_ID):

    Next_page_token = None
    All_data = []
    while True:
        request =youtube.playlists().list(
            part = 'snippet,contentDetails',
            channelId = channel_ID,
            maxResults = 50,
            pageToken = Next_page_token
            
        )
        response = request.execute()

        for item in response['items']:
            data = dict(Playlist_Id = item['id'],
                        Title = item['snippet']['title'],
                        Channel_Id = item['snippet']['channelId'],
                        Channel_name = item['snippet']['channelTitle'],
                        Published_At = item['snippet']['publishedAt'],
                        video_count = item['contentDetails']['itemCount'])
            All_data.append(data)
        Next_page_token = response.get('nextPageToken')
        if Next_page_token is None:
            break
    return All_data

In [21]:
playlist_details = get_playlist_details('UC052oKNJ0XdS6gQWwhxOiEQ')

In [22]:
playlist_details

[{'Playlist_Id': 'PLYqhzyBazB7ejVfFWb3j7pMkoE6YOPBEn',
  'Title': 'Free fire 😎🔥🔥',
  'Channel_Id': 'UC052oKNJ0XdS6gQWwhxOiEQ',
  'Channel_name': '2K Tamil culture',
  'Published_At': '2021-07-14T00:47:13Z',
  'video_count': 13}]

In [23]:
len(playlist_details)

1

In [24]:
playlist_details

[{'Playlist_Id': 'PLYqhzyBazB7ejVfFWb3j7pMkoE6YOPBEn',
  'Title': 'Free fire 😎🔥🔥',
  'Channel_Id': 'UC052oKNJ0XdS6gQWwhxOiEQ',
  'Channel_name': '2K Tamil culture',
  'Published_At': '2021-07-14T00:47:13Z',
  'video_count': 13}]

In [25]:
client = pymongo.MongoClient("mongodb+srv://Kishore:mongodb123@cluster-kishore.kznavjg.mongodb.net/?retryWrites=true&w=majority")
db = client["Youtube_Data"]

In [26]:
all_channels = []
db = client["Youtube_Data"]
collection_1 = db["Channel_details"]
for ch_data in collection_1.find({},{"_id":0,"channel_information":1}):
    all_channels.append((ch_data["channel_information"]["channel_name"]))

In [27]:
all_channels

['A2D Channel', 'Noise and Grains', 'Tamilan Market']

In [38]:
Single_Channel_Detail = []
db = client["Youtube_Data"]
collection_1 = db["Channel_details"]
for ch_data in collection_1.find({"channel_information.channel_name": "A2D Channel"},{"_id":0}):
    Single_Channel_Detail.append((ch_data["channel_information"]))
df_Single_Channel_Detail = pd.DataFrame(Single_Channel_Detail)

In [39]:
df_Single_Channel_Detail

,channel_name,channel_id,subscribers,total_videos,total_view_count,channel_description,playlist_ID
0,A2D Channel,UCvyZS6W6zMJCZBVzF-Ei6sw,1200000,840,250793663,we make videos...\n\n\nFor Sponsorships: colla...,UUvyZS6W6zMJCZBVzF-Ei6sw

In [59]:
Single_Playlist_Details = []
db = client["Youtube_Data"]
collection_1 = db["Channel_details"]
for ch_data in collection_1.find({"channel_information.channel_name": "A2D Channel"},{"_id":0}):
    Single_Playlist_Details.append((ch_data["playlist_information"]))


df_Single_Playlist_Details = pd.DataFrame(Single_Playlist_Details[0])

In [70]:
df_Single_Playlist_Details

,Playlist_Id,Title,Channel_Id,Channel_name,Published_At,video_count
0,PLN0WDccbRPrp-zHwrN61nQFScHhWCk_OG,Server & Networing - Season 2,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2023-08-01T11:45:29Z,1
1,PLN0WDccbRPrqAKXLWiCXD2y0Iqv_b87VF,Budget PC Doc,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2023-07-16T05:45:59Z,1
2,PLN0WDccbRProuFrN88rpyyEezk20ETa0Q,GAMEPLAY KANDHASAMY,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2023-03-19T05:58:44Z,2
3,PLN0WDccbRPrrDCIAAOx6ixXOQG1VKhcVz,Uruttu Show,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2022-12-27T10:43:44Z,0
4,PLN0WDccbRPrqxMTqy-HqJA2jz7phQ2Zqr,Custom-loop Water Cooling,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2022-11-28T05:12:56Z,5
5,PLN0WDccbRPrri2odb4n895yMZMqPkhv-V,Server Build,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2022-08-14T11:55:38Z,3
6,PLN0WDccbRPrpiqGOJIzsWVBh-EKU6_vGL,KK Shorts,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2022-06-06T06:16:58Z,6
7,PLN0WDccbRPrreAKnRZHCBMUQC6mROOx8-,PC Doc's Experiments,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2022-03-15T11:08:48Z,13
8,PLN0WDccbRPrrHmvtTbwj6XKY_40BOBmcM,Crypto Mining,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2021-12-02T08:56:50Z,4
9,PLN0WDccbRPrruq9uZ0lbGT1yAZdYVy9rt,PC Doc's Review,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2021-10-24T04:18:21Z,17
10,PLN0WDccbRPrrKrIFEnh54KKnN1KuJ3jiz,KK's Review,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2021-10-13T10:59:17Z,6
11,PLN0WDccbRPrqXTvrDpXFx7S0Bk3WkzImd,NETWORKING,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2021-09-05T08:39:53Z,5
12,PLN0WDccbRProUFMsUm84Xg_HKVhvmi8-3,Cartoon Kandhasamy,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2020-08-23T13:23:15Z,11
13,PLN0WDccbRPrpdrJQ7xOgKITvbjF-vzcXn,A2DBasic,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2020-07-24T06:05:10Z,26
14,PLN0WDccbRPro_V4iFM0pPWx_FMBv0BM5m,Tech உடான்ஸ்,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2020-05-11T06:31:56Z,22
15,PLN0WDccbRProL0NTXnzJx4va2ujsTP8rR,Kalakodu Kandhasami,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2020-04-21T07:27:02Z,6
16,PLN0WDccbRPrpqQz-v7UyEu7JgSiq03Ex8,Horror Stories,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2020-02-09T05:54:24Z,26
17,PLN0WDccbRProE4yIjvpZDN3bEuddEHPoi,En PC Ku Enna Achi?,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2020-01-23T08:30:34Z,21
18,PLN0WDccbRProoTuGDuH4wvvbkz0TS9Cxc,PC Build TimeLapse,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2019-12-22T10:27:25Z,10
19,PLN0WDccbRPrqXU6JEN4GFeU7a_k45z8EU,Comic KandhaSami,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2019-09-18T12:39:49Z,14
20,PLN0WDccbRProQEXp7K8Ks8e_qAKImE-4i,Kuriyidu KandhaSami,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2019-07-19T03:29:03Z,120
21,PLN0WDccbRProhmGutUf16dwD_Y7zTibOu,GAME STD,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2019-04-07T01:15:43Z,19
22,PLN0WDccbRPrq8HvoFrRipmYwFEYcbT8jc,A News,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2019-02-27T14:02:20Z,23
23,PLN0WDccbRPros34a_HW5CmTiGAjsJcuSl,Endra Shanmugham!!!,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2018-12-30T18:47:59Z,47
24,PLN0WDccbRProTdyA_LCpjVihnhaYLCIVH,VLOG,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2018-09-24T10:41:09Z,9
25,PLN0WDccbRPrqlm-EgSlp4R018hlLBseca,Kadha KandhaSami,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2018-04-23T04:56:14Z,80
26,PLN0WDccbRProwZEZrb8aF7VH9an4wBKeH,Build Ur Own PC,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2018-03-10T19:15:25Z,79
27,PLN0WDccbRProwRX_MY3uJWoDfIbvwRSCV,Kelu Mavaney Kelu,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2018-02-25T14:02:51Z,3
28,PLN0WDccbRPrroZSNgfBwepOIQAFLXSw0F,10 kulla number onnu sollu,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2018-02-18T12:31:30Z,10
29,PLN0WDccbRPrr7eE46ZSZbqrfnWsjK68yE,MNP,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2017-08-25T04:01:24Z,6
30,PLN0WDccbRPrqaIc1zJLIIEDnGuVgCNsCJ,Watha Gaming,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2017-05-10T07:44:07Z,3
31,PLN0WDccbRPrrOXKqwDt9PLmWeJP8NCz9G,Akku Veru Aani Veru,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2017-05-10T07:43:16Z,36
32,PLN0WDccbRPrrx0VKO_EXjIM9d2QV25_-K,A2D Reviews,UCvyZS6W6zMJCZBVzF-Ei6sw,A2D Channel,2016-10-11T08:59:12Z,11

In [28]:
def channel_details(channel_id):
    ch_details = get_channel_info(channel_id)
    pl_details = get_playlist_details(channel_id)
    vi_id = get_Video_IDs(channel_id)
    vi_details = get_video_info(vi_id)
    comment_info = Get_comment_info(vi_id)

    collection_1 = db["Channel_details"]
    collection_1.insert_one({"channel_information":ch_details,"playlist_information":pl_details,
                             "video_information":vi_details,"comment_information":comment_info})
    return "upload completed successfully"

In [29]:
#insert = channel_details('UCvyZS6W6zMJCZBVzF-Ei6sw')


# 1. UC7beWKhXaZuRpD-oKQj852g - Rahul M
# 2. mk - mashup = UCDqSTFZHQJmrHrXg554QgSw ->
# 3. Roar Tamizhan = UCskAiN_93wCdKZvePAAibzA ->
# 4. thirupathi brothers = UCnby3Y8HVJ6OQMGIJ-2xegw ->
# 5. A2D - UCvyZS6W6zMJCZBVzF-Ei6sw ->
# 6. noise and grains - UC66YBGwJ7_wOtz-YsC-6sJA ->
# 7. Data science tamil - UCuI5XcJYynHa5k_lqDzAgwQ ->
# 8. Irish Tamil - UCsJp8Izagw-Qb9DbaFYEnaw ->
# 9. Tamilan Market - UCOA6Umbe17DzvZlrtQdPj7g ->
# 10. ZUMAKA - UCqWUhmwtia1Z1ygWCQBQfeA

UCvyZS6W6zMJCZBVzF-Ei6sw - A2D
UC052oKNJ0XdS6gQWwhxOiEQ - 2k tamil culture
UCuI5XcJYynHa5k_lqDzAgwQ - DataScience Tamil
UCOS6WhMYvSoeAV9IhhJAy7g - Androidsuperstars

In [ ]:
#insert

'upload completed successfully'

# For Table creations channels, playlist, videos, comments

In [76]:
def channels_table(channel_name_s):
    my_database = psycopg2.connect(host = "localhost",
                                user = "postgres",
                                password = "admin123",
                                database = "Youtube_Data",
                                port = "5432")
    cursor = my_database.cursor()


    create_query = '''create table if not exists channels(channel_name varchar(100),
                                                        channel_id varchar(80) primary key,
                                                        subscribers bigint,
                                                        total_view_count bigint,
                                                        total_videos int,
                                                        channel_description text,
                                                        playlist_ID varchar(80))'''
    cursor.execute(create_query)
    my_database.commit()



    Single_Channel_Detail = []
    db = client["Youtube_Data"]
    collection_1 = db["Channel_details"]
    for ch_data in collection_1.find({"channel_information.channel_name": channel_name_s},{"_id":0}):
        Single_Channel_Detail.append((ch_data["channel_information"]))
    df_Single_Channel_Detail = pd.DataFrame(Single_Channel_Detail)

    for index,row in df_Single_Channel_Detail.iterrows():
        insert_query = '''insert into channels(channel_name,
                                            channel_id,
                                                subscribers,
                                                total_videos,
                                                total_view_count,
                                                channel_description,
                                                playlist_ID)
                                                
                                                values(%s,%s,%s,%s,%s,%s,%s)'''
        values = (row['channel_name'],
                row['channel_id'],
                row['subscribers'],
                row['total_videos'],
                row['total_view_count'],
                row['channel_description'],
                row['playlist_ID'])
        
        try:
            cursor.execute(insert_query,values)
            my_database.commit()
        except:
            News = f"Your provided channel name {channel_name_s} is already exists"
            return News

In [77]:
channels_table("Tamilan Market")

'Your provided channel name Tamilan Market is already exists'

In [61]:
def playlist_table(channel_name_s):

    my_database = psycopg2.connect(host = "localhost",
                                    user = "postgres",
                                    password = "admin123",
                                    database = "Youtube_Data",
                                    port = "5432")
    cursor = my_database.cursor()

    drop_query = '''drop table if exists playlists'''
    cursor.execute(drop_query)
    my_database.commit()

    #try:
    create_query = '''create table if not exists playlists(Playlist_Id varchar(100) primary key,
                                                        Title varchar(80),
                                                        Channel_Id varchar(100),
                                                        Channel_name varchar(100),
                                                        Published_At timestamp,
                                                        video_count int
                                                        )'''


    cursor.execute(create_query)
    my_database.commit()

    Single_Playlist_Details = []
    db = client["Youtube_Data"]
    collection_1 = db["Channel_details"]
    for ch_data in collection_1.find({"channel_information.channel_name": channel_name_s},{"_id":0}):
        Single_Playlist_Details.append((ch_data["playlist_information"]))


    df_Single_Playlist_Details = pd.DataFrame(Single_Playlist_Details[0])


    for index,row in df_Single_Playlist_Details.iterrows():
        insert_query = '''insert into playlists(Playlist_Id,
                                            Title,
                                                Channel_Id,
                                                Channel_name,
                                                Published_At,
                                                video_count)
                                                
                                                values(%s,%s,%s,%s,%s,%s)'''
        
        
        

        values = (row['Playlist_Id'],
                row['Title'],
                row['Channel_Id'],
                row['Channel_name'],
                row['Published_At'],
                row['video_count'],
        )

        cursor.execute(insert_query,values)
        my_database.commit()

In [63]:
playlist_table("A2D Channel")

In [ ]:
df1

,Playlist_Id,Title,Channel_Id,Channel_name,Published_At,video_count
0,PLKtlfBuRrYPFW9MkzhMs_dE29rd7BFs14,Shorts #bestshorts,UCnby3Y8HVJ6OQMGIJ-2xegw,Thirrupathi Brothers,2023-07-06T13:01:44Z,29
1,PLKtlfBuRrYPF09-yYYOXN0iLjhY_ygST9,Super Hit Full Movies | Thirrupathi Brothers,UCnby3Y8HVJ6OQMGIJ-2xegw,Thirrupathi Brothers,2023-06-19T06:24:28Z,14
2,PLKtlfBuRrYPFErKz-Vd6l7ZIrzJ1yDGRq,Super Scenes,UCnby3Y8HVJ6OQMGIJ-2xegw,Thirrupathi Brothers,2022-04-01T12:32:34Z,23
3,PLKtlfBuRrYPF59NH63_G5s2PVh1FE0Elv,Special Compilations,UCnby3Y8HVJ6OQMGIJ-2xegw,Thirrupathi Brothers,2021-11-20T15:52:04Z,18
4,PLKtlfBuRrYPGMByw0B6e_f0_k5isUNvpR,T.Rajendar,UCnby3Y8HVJ6OQMGIJ-2xegw,Thirrupathi Brothers,2020-11-20T12:25:43Z,0
...,...,...,...,...,...,...
148,PL1kBgpWv0t5TM-9gxQVqXVOw3jrhlx02W,Veedu - House for Sale,UCOA6Umbe17DzvZlrtQdPj7g,Tamilan Market,2020-01-24T06:40:09Z,45
149,PL9aV7VOw3Pr47N7chGHkBuu3OVDaG-Bxg,VLOGS,UCqWUhmwtia1Z1ygWCQBQfeA,ZUMAKA,2020-05-12T06:06:27Z,383
150,PL9aV7VOw3Pr7MDg91Rj24775D0j15bTVr,DIY - DO IT YOURSELF,UCqWUhmwtia1Z1ygWCQBQfeA,ZUMAKA,2020-02-16T07:00:36Z,13
151,PL9aV7VOw3Pr6kmRawB7okmtdSuifcsVr6,CRAFTS,UCqWUhmwtia1Z1ygWCQBQfeA,ZUMAKA,2020-01-15T04:51:52Z,3
152,PL9aV7VOw3Pr6ZOcxyi_u4-xrB_7hNbUFK,EXPERIMENTS,UCqWUhmwtia1Z1ygWCQBQfeA,ZUMAKA,2020-01-04T18:30:59Z,6

In [ ]:
pl_data["playlist_information"]

In [ ]:
len(df1)

153

In [68]:
Single_Video_Details = []
db = client["Youtube_Data"]
collection_1 = db["Channel_details"]
for ch_data in collection_1.find({"channel_information.channel_name": "A2D Channel"},{"_id":0}):
    Single_Video_Details.append((ch_data["video_information"]))


df_Single_Video_Details = pd.DataFrame(Single_Video_Details[0])

In [ ]:
df_Single_Video_Details

In [71]:
def videos_table(channel_name_s):

        my_database = psycopg2.connect(host = "localhost",
                                        user = "postgres",
                                        password = "admin123",
                                        database = "Youtube_Data",
                                        port = "5432")
        cursor = my_database.cursor()


        #try:
        create_query = '''create table if not exists videos(channel_name varchar(100),
                                                        channel_id varchar(100),
                                                        video_id varchar(30) primary key,
                                                        Title varchar(200),
                                                        Tags text,
                                                        Thumbnail varchar(255),
                                                        Description text,
                                                        Published_date timestamp,
                                                        Duration interval,
                                                        Views bigint,
                                                        Likes bigint,
                                                        Comments int,
                                                        Favorite_count int,
                                                        Definition varchar(10),
                                                        Caption_status varchar(100)
                                                        )'''



        cursor.execute(create_query)
        my_database.commit()



        Single_Video_Details = []
        db = client["Youtube_Data"]
        collection_1 = db["Channel_details"]
        for ch_data in collection_1.find({"channel_information.channel_name": channel_name_s},{"_id":0}):
                Single_Video_Details.append((ch_data["video_information"]))


        df_Single_Video_Details = pd.DataFrame(Single_Video_Details[0])


        for index,row in df_Single_Video_Details.iterrows():
                insert_query = '''insert into videos(channel_name,
                                                        channel_id,
                                                        video_id,
                                                        Title,
                                                        Tags,
                                                        Thumbnail,
                                                        Description,
                                                        Published_date,
                                                        Duration,
                                                        Views,
                                                        Likes,
                                                        Comments,
                                                        Favorite_count,
                                                        Definition,
                                                        Caption_status)
                                                        
                                                        values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''
                
                


                values = (row['channel_name'],
                        row['channel_id'],
                        row['video_id'],
                        row['Title'],
                        row['Tags'],
                        row['Thumbnail'],
                        row['Description'],
                        row['Published_date'],
                        row['Duration'],
                        row['Views'],
                        row['Likes'],
                        row['Comments'],
                        row['Favorite_count'],
                        row['Definition'],
                        row['Caption_status']
                )

                cursor.execute(insert_query,values)
                my_database.commit()
        #except:
        #print("Channel table already created")

In [72]:
videos_table("A2D Channel")

In [73]:
def comments_table(channel_name_s):

    my_database = psycopg2.connect(host = "localhost",
                                    user = "postgres",
                                    password = "admin123",
                                    database = "Youtube_Data",
                                    port = "5432")
    cursor = my_database.cursor()



    #try:
    create_query = '''create table if not exists comments(comment_Id varchar(100) primary key,
                                                            Video_Id varchar(50),
                                                            Comment_text text,
                                                            Comment_author varchar(150),
                                                            Comment_published_date timestamp
                                                            )'''

    cursor.execute(create_query)
    my_database.commit()


    Single_Comment_Details = []
    db = client["Youtube_Data"]
    collection_1 = db["Channel_details"]
    for ch_data in collection_1.find({"channel_information.channel_name": channel_name_s},{"_id":0}):
            Single_Comment_Details.append((ch_data["comment_information"]))


    df_Single_Comment_Details = pd.DataFrame(Single_Comment_Details[0])


    for index,row in df_Single_Comment_Details.iterrows():
        insert_query = '''insert into comments(comment_Id,
                                                    Video_Id,
                                                    Comment_text,
                                                    Comment_author,
                                                    Comment_published_date
                                                    )
                                                
                                                values(%s,%s,%s,%s,%s)'''
        


        values = (  row['comment_Id'],
                    row['Video_Id'],
                    row['Comment_text'],
                    row['Comment_author'],
                    row['Comment_published_date']
                    )

        cursor.execute(insert_query,values)
        my_database.commit()

In [74]:
comments_table("A2D Channel")

In [ ]:
def tables():
    channels_table()
    playlist_table()
    videos_table()
    comments_table()

    return "Tables Created Successfully"

In [ ]:
Tables = tables()

In [ ]:
Tables

'Tables Created Successfully'

In [ ]:
def show_channels_table():

    channel_list = []
    db = client["Youtube_Data"]
    collection_1 = db["Channel_details"]
    for ch_data in collection_1.find({},{"_id":0,"channel_information":1}):
        channel_list.append(ch_data["channel_information"])
    df = st.dataframe(channel_list)

    return df

In [ ]:
def show_playlists_table():
    playlist_list = []
    db = client["Youtube_Data"]
    collection_1 = db["Channel_details"]
    for pl_data in collection_1.find({},{"_id":0,"playlist_information":1}):
        for i in range(len(pl_data["playlist_information"])):
            playlist_list.append(pl_data["playlist_information"][i])
    df1 = st.dataframe(playlist_list)

    return df1

In [ ]:
def show_video_table():    
        video_list = []
        db = client["Youtube_Data"]
        collection_1 = db["Channel_details"]
        for vi_data in collection_1.find({},{"_id":0,"video_information":1}):
                for i in range(len(vi_data["video_information"])):
                        video_list.append(vi_data["video_information"][i])
        df2 = st.dataframe(video_list)

        return df2

In [ ]:
def show_comments_table():

    comment_list = []
    db = client["Youtube_Data"]
    collection_1 = db["Channel_details"]
    for com_data in collection_1.find({},{"_id":0,"comment_information":1}):
        for i in range(len(com_data["comment_information"])):
            comment_list.append(com_data["comment_information"][i])
    df3 = st.dataframe(comment_list)

    return df3

In [ ]:
# Streamlit part

with st.sidebar:
    st.title(":red[YOUTUBE DATA HARVESTING AND WAREHOUSING]")
    st.header("Skill Take Away")
    st.caption("Python Scripting")
    st.caption("Data Collection")
    st.caption("MongoDB")
    st.caption("API Integration")
    st.caption("Data Management using MongoDB and SQL")


channel_id = st.text_input("Enter the Channel ID")

if st.button("collect and store data"):
    ch_ids = []
    db = client["Youtube_Data"]
    collection_1 = db["Channel_details"]
    for channel_data in collection_1.find({},{"_id":0,"channel_information":1}):
        ch_ids.append(channel_data["channel_information"]["channel_id"])

    if channel_id in ch_ids:
        st.success("Channel details of the given channel id is already exists")

    else:
        insert = channel_details(channel_id)
        st.success(insert)

if st.button("Migrate to SQL"):
    Table = tables()
    st.success(Table)

show_table = st.radio("SELECT THE TABLE FOR VIEW",("CHANNELS","PLAYLISTS","VIDEOS","COMMENTS"))

if show_table == "CHANNELS":
    show_channels_table()

elif show_table == "PLAYLISTS":
    show_playlists_table()

elif show_table == "VIDEOS":
    show_video_table()

elif show_table == "COMMENTS":
    show_comments_table()

In [ ]:
# SQL connection

my_database = psycopg2.connect(host = "localhost",
                                    user = "postgres",
                                    password = "admin123",
                                    database = "Youtube_Data",
                                    port = "5432")
cursor = my_database.cursor()

question = st.selectbox("Select your question",("1. All the videos and channel name",
                                                "2. Channel with most number of videos",
                                                "3. 10 most viewed videos",
                                                "4. Comments in each videos",
                                                "5. Videos with highest likes",
                                                "6. Likes of all videos",
                                                "7. Views of each channel",
                                                "8. Videos published in the year of 2022",
                                                "9. Average duration of all videos in each channel",
                                                "10. Videos with highest number of comments"))

if question == "1. All the videos and channel name":

    query_1 = '''select title as videos,channel_name as channelname from videos'''
    cursor.execute(query_1)
    my_database.commit()
    table_1 = cursor.fetchall()
    df = pd.DataFrame(table_1,columns = ["video title","channel name"])
    st.write(df)

elif question == "2. Channel with most number of videos":

    query_2 = '''select channel_name as channelname,total_videos as no_videos from channels
                    order by total_videos desc'''
    cursor.execute(query_2)
    my_database.commit()
    table_2 = cursor.fetchall()
    df1 = pd.DataFrame(table_2,columns = ["channel name","No of videos"])
    st.write(df1)

elif question == "3. 10 most viewed videos":

    query_3 = '''select views as views, channel_name as channelname, title as videotitle from videos
                    where views is not null order by views desc limit 10'''
    cursor.execute(query_3)
    my_database.commit()
    table_3 = cursor.fetchall()
    df2 = pd.DataFrame(table_3,columns = ["views","channel name","videotitle"])
    st.write(df2)

elif question == "4. Comments in each videos":

    query_4 = '''select comments as no_comments, title as videotitle from videos where comments is not null'''
    cursor.execute(query_4)
    my_database.commit()
    table_4 = cursor.fetchall()
    df3 = pd.DataFrame(table_4,columns = ["No of comments","videotitle"])
    st.write(df3)

elif question == "5. Videos with highest likes":

    query_5 = '''select title as videotitle, channel_name as channelname, likes as likecount
                    from videos where likes is not null order by likes desc'''
    cursor.execute(query_5)
    my_database.commit()
    table_5 = cursor.fetchall()
    df4 = pd.DataFrame(table_5,columns = ["videotitle","channelname","likecount"])
    st.write(df4)

elif question == "6. Likes of all videos":
    query_6 = '''select likes as likecount, title as videotitle from videos '''
    cursor.execute(query_6)
    my_database.commit()
    table_6 = cursor.fetchall()
    df5 = pd.DataFrame(table_6,columns = ["likecount","videotitle"])
    st.write(df5)

elif question == "7. Views of each channel":
    query_7 = '''select channel_name as channelname ,Views as totalviews from  videos '''
    cursor.execute(query_7)
    my_database.commit()
    table_7 = cursor.fetchall()
    df6 = pd.DataFrame(table_7,columns = ["channelname","total views"])
    st.write(df6)

elif question == "8. Videos published in the year of 2022":
    query_8 = '''select title as videotitle, Published_date as videorelease, channel_name as channelname
                from videos where extract (year from Published_date)=2022'''
    cursor.execute(query_8)
    my_database.commit()
    table_8 = cursor.fetchall()
    df7 = pd.DataFrame(table_8,columns = ["videotitle","videorelease","channelname"])
    st.write(df7)

elif question == "9. Average duration of all videos in each channel":
    query_9 = '''select channel_name as channelname, AVG(Duration) as averageduration from videos group by channel_name'''
    cursor.execute(query_9)
    my_database.commit()
    table_9 = cursor.fetchall()
    df8 = pd.DataFrame(table_9,columns = ["channelname","averageduration"])
    
    T9 = []
    for index,row in df8.iterrows():
        channel_title = row["channelname"]
        average_duration = row["averageduration"]
        average_duration_str = str(average_duration)
        T9.append(dict(channeltitle=channel_title,avgduration=average_duration_str))

    df_AVG = pd.DataFrame(T9)
    st.write(df_AVG)

elif question == "10. Videos with highest number of comments":
    query_10 = '''select title as videotitle, channel_name as channelname, Comments as comments from videos 
                    where comments is not null order by comments desc '''
    cursor.execute(query_10)
    my_database.commit()
    table_10 = cursor.fetchall()
    df9 = pd.DataFrame(table_10,columns = ["videotitle","channelname","comments"])
    st.write(df9)

In [ ]:

my_database = psycopg2.connect(host = "localhost",
                                    user = "postgres",
                                    password = "admin123",
                                    database = "Youtube_Data",
                                    port = "5432")
cursor = my_database.cursor()

#if question == "10. Videos with highest number of comments":
query_10 = '''select title as videotitle, channel_name as channelname, Comments as comments from videos 
                where comments is not null order by comments desc '''
cursor.execute(query_10)
my_database.commit()
table_10 = cursor.fetchall()
df9 = pd.DataFrame(table_10,columns = ["videotitle","channelname","comments"])
#st.write(df5)

In [ ]:
df9

,videotitle,channelname,comments
0,URUTTU TECH (2023) - Full Movie (Tamil) Full H...,A2D Channel,31462
1,TTF GPS SCAM? - The Conclusion | A DeepDive An...,A2D Channel,10809
2,"Agaram Ippo Sigaram Aachu | K.J.Yesudas, S.P.B...",Noise and Grains,7540
3,Education Waste? - படிப்பு தேவையா? | BiggBoss ...,A2D Channel,7497
4,Hara Hara Hara Hara Mahadev | Naan Kadavul | I...,Noise and Grains,7264
...,...,...,...
3624,GUESS WHAT IT IS NO WAY! #noway #home #new #gu...,Simple AppDev,0
3625,I have no work to do 🫠 totally down.. #short #...,Simple AppDev,0
3626,LUXURY TABLET UNBOXING #short #luxury #tablet ...,Simple AppDev,0
3627,I FOUND MY OLD SCREWDRIVER | lets restore it #...,Simple AppDev,0
3628,MY NEW KEYBOARD RGB ARMAGGEDDON #short #rgb #k...,Simple AppDev,0

In [ ]:
df4

,videotitle,channelname,likecount
0,Jio Book-ஆ இல்ல செங்கல்லா? | So Called Laptop ...,A2D Channel,400879
1,Kurukku Sirithavale - Mudhalvan | A.R. Rahman'...,Noise and Grains,391625
2,Thean Thean - The Name is Vidyasagar Live in C...,Noise and Grains,352215
3,High Voltage-ஆல் நடந்த விபரீதம் 🔥💥🤯 | Ganesha'...,A2D Channel,323303
4,Thean Thean - The Name is Vidyasagar Live in C...,Noise and Grains,307053
...,...,...,...
3632,Jigina - Releasing Today ~ Promo 13 | Thirrupa...,Thirrupathi Brothers,0
3633,MY OLD STUFF GOOD BYE #short #phones #oldisgol...,Simple AppDev,0
3634,Jigina - Releasing Today ~ Promo 5 | Thirrupat...,Thirrupathi Brothers,0
3635,Jigina - Releasing on August 21st - 20 Sec ~ P...,Thirrupathi Brothers,0
3636,MY NEW MAC MINI NEW VERSION 2022 #macmini #cod...,Simple AppDev,0

In [ ]:
df3

      No of comments                                         videotitle
0                  0  #rajinimurugan #sivakarthikeyan #keerthisuresh...
1                  0  Thrilling Scenes Collection | Kumki Movie Comp...
2                  1  #rajinimurugan #sivakarthikeyan #keerthisuresh...
3                  0  #rajinimurugan #sivakarthikeyan #keerthisuresh...
4                  3  #rajinimurugan #sivakarthikeyan #keerthisuresh...
...              ...                                                ...
3624               0  I TRIED MY PHONE ON MY LAPTOP #short #code #he...
3625               0         IPHONE 12 PRO MAX CAMERA ZOOM TEST  #short
3626               0              FlutterFlow.io RIP coding 🏴‍☠️ #short
3627               2    OMG! I BOUGHT AN IPHONE 12 PRO MAX $0.00 #short
3628               4          Day in life of a Flutter Developer #short

[3629 rows x 2 columns]